In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [5]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [6]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 408.0+ bytes

In [8]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [9]:
df.size

35

In [10]:
df.shape

(7, 5)

In [13]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [14]:
df.loc["Canada"]

KeyError: 'Canada'

In [15]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: 0, dtype: object

In [16]:
df["Continent"]

0    America
1     Europe
2     Europe
3     Europe
4       Asia
5     Europe
6    America
Name: Continent, dtype: object

In [18]:
df["Continent"].to_frame()

  Continent
0   America
1    Europe
2    Europe
3    Europe
4      Asia
5    Europe
6   America

In [20]:
df[["Continent", "GDP"]]

  Continent       GDP
0   America   1785387
1    Europe   2833687
2    Europe   3874437
3    Europe   2167744
4      Asia   4602367
5    Europe   2950039
6   America  17348075

In [21]:
df[1:3]

   Population      GDP  Surface Area    HDI Continent
1      63.951  2833687        640679  0.888    Europe
2      80.940  3874437        357114  0.916    Europe

In [22]:
df.loc["France":"Italy"]

Empty DataFrame
Columns: [Population, GDP, Surface Area, HDI, Continent]
Index: []

In [24]:
a = df.loc["France":"Italy", "GDP"]

In [25]:
a

Series([], Name: GDP, dtype: int64)

In [26]:
type(a)

pandas.core.series.Series

In [27]:
a.dtype

dtype('int64')

In [30]:
df.loc["France":"Italy", ["GDP", "Population"]]

Empty DataFrame
Columns: [GDP, Population]
Index: []

In [31]:
df["Population"] > 70

0    False
1    False
2     True
3    False
4     True
5    False
6     True
Name: Population, dtype: bool

In [32]:
df.loc[df["Population"] > 70]

   Population       GDP  Surface Area    HDI Continent
2      80.940   3874437        357114  0.916    Europe
4     127.061   4602367        377930  0.891      Asia
6     318.523  17348075       9525067  0.915   America

In [33]:
df.drop("Canada")

KeyError: "['Canada'] not found in axis"

In [34]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [35]:
df_2 = df.drop("Canada")

KeyError: "['Canada'] not found in axis"

In [36]:
df_2

NameError: name 'df_2' is not defined

In [37]:
df.drop(["Canada", "Japan"])

KeyError: "['Canada', 'Japan'] not found in axis"

In [38]:
df.drop(columns = ["Population", "HDI"])

        GDP  Surface Area Continent
0   1785387       9984670   America
1   2833687        640679    Europe
2   3874437        357114    Europe
3   2167744        301336    Europe
4   4602367        377930      Asia
5   2950039        242495    Europe
6  17348075       9525067   America

In [39]:
df.drop(["Population", "HDI"], axis = 1)

        GDP  Surface Area Continent
0   1785387       9984670   America
1   2833687        640679    Europe
2   3874437        357114    Europe
3   2167744        301336    Europe
4   4602367        377930      Asia
5   2950039        242495    Europe
6  17348075       9525067   America

In [40]:
df.drop(["Population", "HDI"], axis = "columns")

        GDP  Surface Area Continent
0   1785387       9984670   America
1   2833687        640679    Europe
2   3874437        357114    Europe
3   2167744        301336    Europe
4   4602367        377930      Asia
5   2950039        242495    Europe
6  17348075       9525067   America

In [41]:
df[["Population", "GDP"]]

   Population       GDP
0      35.467   1785387
1      63.951   2833687
2      80.940   3874437
3      60.665   2167744
4     127.061   4602367
5      64.511   2950039
6     318.523  17348075

In [42]:
df[["Population", "GDP"]] / 100

   Population        GDP
0     0.35467   17853.87
1     0.63951   28336.87
2     0.80940   38744.37
3     0.60665   21677.44
4     1.27061   46023.67
5     0.64511   29500.39
6     3.18523  173480.75

In [43]:
langs = pd.Series(
    ["French", "German", "Italian"],
    index = ["France", "Germany", "Italy"],
    name = "Language"
)

In [44]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [45]:
df["Language"] = langs

In [46]:
df

   Population       GDP  Surface Area    HDI Continent Language
0      35.467   1785387       9984670  0.913   America      NaN
1      63.951   2833687        640679  0.888    Europe      NaN
2      80.940   3874437        357114  0.916    Europe      NaN
3      60.665   2167744        301336  0.873    Europe      NaN
4     127.061   4602367        377930  0.891      Asia      NaN
5      64.511   2950039        242495  0.907    Europe      NaN
6     318.523  17348075       9525067  0.915   America      NaN

In [47]:
sıkıldım

NameError: name 'sıkıldım' is not defined